<footer class="footer">
        <div class="container">

            <div class="content">
                <p>
                    To report a problem with the web site, open an issue on <a href="https://bitbucket.org/teama8/subify/issues?status=new&status=open">Bitbucket</a> (creating a free account is required). For other contact information, see the <a href="/about">about</a> page. The web site source code is available <a href="https://bitbucket.org/teama8/subify/">here</a>.
                </p>
            </div>

            <div class="content">
                <p>
                    <a href="https://bulma.io">
                        <img src="https://bulma.io/images/made-with-bulma.png" alt="Made with Bulma" width="128" height="24" />
                    </a><br />
                    The Bulma source code is licensed <a href="https://opensource.org/licenses/mit-license.php">MIT</a>
                </p>
            </div>

            <div class="content has-text-centered">
                &copy; Copyright 2017 team A8. All rights reserved. (this will change)
            </div>
        </div>
    </footer>
