<nav class="navbar is-black" role="navigation" aria-label="main navigation">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item" href="/">
            <span class="icon has-text-warning">
                <i class="fa fa-film"></i>
            </span>
                    <strong>subify</strong>
                </a>
                <button class="button navbar-burger is-black" data-target="navMenu">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
            </div>

            <div class="navbar-menu" id="navMenu">

                <div class="navbar-start">
                    <a class="navbar-item" href="/">Home</a>
                    <!-- Removed
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link" href="/docs">Docs</a>

                        <div class="navbar-dropdown">
                            <a class="navbar-item" href="/docs/#overview">Overview</a>
                            <hr class="navbar-divider" />
                            <a class="navbar-item" href="/docs/#intro">Getting started</a>
                            <a class="navbar-item" href="/docs/#more">More stuff</a>
                        </div>
                    </div>
                -->
                    <a class="navbar-item" href="/app">App</a>
                    <a class="navbar-item" href="/about">About</a>
                </div>

                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="field is-grouped">
                            <p class="control">
                                <a class="button is-primary" href="https://bitbucket.org/teama8/subify/">
                                    <span class="icon">
                                        <i class="fa fa-bitbucket"></i>
                                    </span>
                                    <span>Get source</span>
                                </a>
                            </p>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </nav>