<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>

    <% include ../partials/navbar %>

    <% include ../partials/browsersyncInject %>

    <section class="hero is-dark is-bold">
        <div class="hero-body">
            <div class="container">
                <div class="level">
                    <h1 class="title level-item has-text-centered">404 - Page not found</h1>
                </div>
                <div class="level">
                    <h2 class="subtitle level-item has-text-centered">Someone stole this page, sometimes it happens.</h2>
                </div>
                <div class="level">
                    <p class="level-item has-text-centered">
                        <a href="/" class="button">
                            <span class="icon">
                                <i class="fa fa-arrow-left"></i>
                            </span>
                            <span>Go back home</span>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </section>

    <% include ../partials/footer %>
</body>
</html>
