<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>
    <% include ../partials/navbar %>

    <% include ../partials/noscriptBanner %>

    <% include ../partials/browsersyncInject %>

    <section class="hero is-dark is-bold">
        <div class="hero-body">
            <div class="container">
    
                <h1 class="title">Documentation</h1>
                <h2 class="subtitle">Everything you need to create subtitles with subify.</h2>
    
            </div>
        </div>
    </section>
    
    <section class="section">
        <div class="container">
    
            <h1 class="title">This is important</h1>
            <h2 class="subtitle">It's the stuff you need to know.</h2>
    
            <hr />
    
            <h3 id="overview" class="title is-4">Overview</h3>
            <div class="content">
                <p>This is the most important stuff.</p>
            </div>
    
            <hr />
    
            <h3 id="intro" class="title is-4">Getting started</h3>
            <div class="content">
                <p>Some more details here.</p>
            </div>
    
            <hr />
    
            <h3 id="more" class="title is-4">More stuff</h3>
            <div class="content">
                <p>And even more stuff here.</p>
            </div>
    
        </div>
    </section>

    <% include ../partials/footer %>
</body>
</html>
